* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}

.jokes-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
