* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
    color: white;
}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > img {
    width: 40px;
    margin-right: 7px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

main {
    padding: 60px 30px
}

main > h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
}

main > ul {
    font-size: 1rem;
    font-weight: 400;
}

main li {
    padding-bottom: 1rem;
}