* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #21222A;
    height: 91px;
}

nav {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
    padding: 30px
}

.navbar-logo {
    width: 40px;
}

.navbar-title {
    font-size: 1.4rem;
    color: #61DAFB;
}

